<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dashboard</title>
</head>
<body>
  <div class="table-data">
    <div class="order">
      <div class="card">
        <h2>Congé(s)</h2>
        <p>{{ congesCount }}</p>
      </div>
      <div class="card">
        <h2>Absence(s)</h2>
        <p>{{ absencesCount }}</p>
      </div>
      
      <div class="charts">
        <div class="chart-container">
          <canvas id="canvas2" width="400" height="400"></canvas>
        </div>
        <div class="chart-container">
          <canvas id="canvas3" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
