.status-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.status-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.status-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.green-circle {
    background-color: green;
}

.red-circle {
    background-color: red;
}
